.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    /* margin-left: 32px;
    margin-right: 32px; */
    width: calc(100% - 2 * 19px);
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 880px;
    column-gap: 17px;
    row-gap: 20px;
  }
}