.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2 * 19px);
  margin-top: 42px;
}

@media screen and (min-width: 1024px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 880px;
  }
}