.add-button {
  margin-top: 36px;
  margin-bottom: 36px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  background-image: url(../../images/plus.svg);
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: .5s all;
  padding: 0;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .add-button {
    width: 150px;
    background-size: 22px 22px;
  }
}