.popup-open {
  cursor: pointer;
  transition: .5s all;
  background-size: 7.5px 7.5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  background-image: url("../../images/edit-button.svg");
  width: 18px;
  height: 18px;
  border: 1px solid #FFFFFF;
  padding: 0;
  position: absolute;
  right: -36px;
  top: 10px;
}

.popup-open:hover {
  opacity: .5;
}

@media screen and (min-width: 768px) {
  .popup-open {
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    right: -40px;
    top: 16px;
  }
}