.popup__close-button {
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: .5s all;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .popup__close-button{
    width: 32px;
    height: 32px;
    right: -40px;
  }
}