.popup__image {
  width: 100%;
  height: auto;
  max-width: 75vw;
  max-height: 75vh;
  /* margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s all;
  position: relative; */
  object-position: center;
  display: block;
}